// https://www.npmjs.com/package/babel-plugin-react-remove-properties
{
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-test"
            ]
          }
        ]
      ]
    }
  },
  "presets": [
    "react-app"
  ]
}